<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Fweet Examples</title>
  <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>

  <script type='text/javascript' src='//code.jquery.com/jquery-1.9.1.js'></script>
  <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
  
<style type='text/css'>
	textarea {
	    height:50px;
	    width:100%;
	}
	
	label {
	    width:100px;
	    margin-bottom:10px;
	    clear:both;
	}
	
	input, label {
	    float:left;
	}
</style>
  
</head>
<body ng-app='myApp'>
<div style="width:80%;margin: 0 auto;">
  <img src="http://i.imgur.com/HF1daBu.gif" height="100"><img src="http://i.imgur.com/czjXDLf.png"><br/>
  <p>Try out Fweet!</p>
  <div ng-controller="myCtrl">
    <fieldset>
        <legend>/get/fweet</legend>
        <label for="thing" >thing:</label>
        <input type="text" ng-model="thing" />
	<br />
        <br />
        <button ng-click="getData('get/')">GET Request</button>
    </fieldset>
    <br />

    <fieldset>
        <legend>/get/latest/fweet</legend>
        <label for="thing" >thing:</label>
        <input type="text" ng-model="thing" />
	<br />
        <br />
        <button ng-click="getData('get/latest/')">GET Request</button>
    </fieldset>
    <br />

    <fieldset>
        <legend>/post/fweet</legend>
        <label for="thing" >thing:</label>
        <input type="text" ng-model="thing" />
	<br />
        <label for="status" >status:</label>
        <input type="text" ng-model="status"/>
        <br />
        <br />
        <button ng-click="getData('post/')">GET Request</button>
        <button ng-click="postData('post/')">POST Request</button>
    </fieldset>
    <br />
    
    <label for="echo">Status</label>
    <textarea name="echo" ng-model="response" disabled="disabled" style="height:20px;"></textarea>
    <label for="full">Full Response</label>
    <textarea name="full" ng-model="fullResponse" disabled="disabled" style="height:350px;"></textarea>
 </div>
</div>
  
<script type='text/javascript'>//<![CDATA[

function rnd(minv, maxv){
	if (maxv < minv) return 0;
	return Math.floor(Math.random()*(maxv-minv+1)) + minv;
}

function getName(minlength, maxlength, prefix, suffix)
{
	prefix = prefix || '';
	suffix = suffix || '';
	//these weird character sets are intended to cope with the nature of English (e.g. char 'x' pops up less frequently than char 's')
	//note: 'h' appears as consonants and vocals
	var vocals = 'aeiouyh' + 'aeiou' + 'aeiou';
	var cons = 'bcdfghjklmnpqrstvwxz' + 'bcdfgjklmnprstvw' + 'bcdfgjklmnprst';
	var allchars = vocals + cons;
	//minlength += prefix.length;
	//maxlength -= suffix.length;
	var length = rnd(minlength, maxlength) - prefix.length - suffix.length;
	if (length < 1) length = 1;
	//alert(minlength + ' ' + maxlength + ' ' + length);
	var consnum = 0;
	//alert(prefix);
	/*if ((prefix.length > 1) && (cons.indexOf(prefix[0]) != -1) && (cons.indexOf(prefix[1]) != -1)) {
		//alert('a');
		consnum = 2;
	}*/
	if (prefix.length > 0) {
		for (var i = 0; i < prefix.length; i++) {
			if (consnum == 2) consnum = 0;
			if (cons.indexOf(prefix[i]) != -1) {
				consnum++;
			}
		}
	}
	else {
		consnum = 1;
	}
	
	var name = prefix;
	
	for (var i = 0; i < length; i++)
	{
		//if we have used 2 consonants, the next char must be vocal.
		if (consnum == 2)
		{
			touse = vocals;
			consnum = 0;
		}
		else touse = allchars;
		//pick a random character from the set we are goin to use.
		c = touse.charAt(rnd(0, touse.length - 1));
		name = name + c;
		if (cons.indexOf(c) != -1) consnum++;
	}
	name = name.charAt(0).toUpperCase() + name.substring(1, name.length) + suffix;
	return name;
}

function isJson(str) {
    try {
        JSON.parse(str);
    } catch (e) {
        return false;
    }
    return true;
}

angular.module('myApp', ['ngResource'])
.controller('myCtrl', function ($scope, $http) {

    $scope.queries = [
        {'q': '/get/timeline', 'description': 'Timeline'},
        {'q': '/get/', 'description': 'Get'}
    ];

    $scope.randomid = Math.floor((Math.random() * 999) + 1);
    $scope.status = '{ "test": '+$scope.randomid+', "temp": 20 }';
    $scope.thing = getName(3, 4, '', '')+'-'+getName(2, 6, '', '');
    $scope.response = [];
    $scope.fullResponse = [];
    
    $scope.getData = function(q) {
        var data = $.param({
            json: JSON.stringify($scope.status)
        });
	        // GETs are simple, 
	        $http({
	          url: "//fweet.herokuapp.com/"+q+$scope.thing, 
	          method: "GET", 
	          data: [],
	          params: JSON.parse($scope.status)
	        }).success(function(data, status) {
	            $scope.response = "GET Response: " + JSON.stringify(data.status);
	            $scope.fullResponse = JSON.stringify(data, null, 3);
	        }); 
    };
    
    $scope.postData = function(q) {
        
        // Set the Content-Type 
        $http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
        
        // Delete the Requested With Header
        delete $http.defaults.headers.common['X-Requested-With'];

        $http({
          url: "//fweet.herokuapp.com/"+q+$scope.thing, 
          method: "POST", 
          params: JSON.parse($scope.status)
        }).success(function(data, status) {
            $scope.response = "POST Response: " + data;
            $scope.fullResponse = JSON.stringify(data, null, 3);
        });
       
    };
});
//]]> 

</script>
</body>
</html>
